html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.options_cont{
    display : flex;
    flex-direction : column;

}

.option_node {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 5px;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 12px;
    padding-left: 20px;
    margin-bottom: 18px;
    box-shadow: 1px 1px 2px grey;
    border-radius: 5px;
}

.option_node > * {
    cursor : pointer;
}